# Extract
We found great information on basketball players and their statics for the past 50 years. NBA players' salary
information came from http://www.espn.com/nba/salaries. This website had multipe pages and tables that required us
to scrape the information. We looped through each page first and then looped through each year in the dropdown list until complete. All data was imported and transformed into a working csv.


All other files were basic csv files. Complete player data was (player_data.csv) from  https://www.kaggle.com/drgilermo/nba-players-stats.
Basic player data like height and weight was also a csv file (Players.csv) from https://www.kaggle.com/drgilermo/nba-players-stats. Season statics was also a csv (Seasons_Stats.csv)
taken from https://www.kaggle.com/drgilermo/nba-players-stats.

# Transform

### Salary (salary_raw.csv)
- Drop lines that have all null values
- Remove extra lines that came over with scrapping
- Separate name from position and store in different columns
- Create a name key by removing special characters and spaces, and converting to lower case. This is to be used as a foreign key for joinin with other tables
- Changed season from YYYY-YYYY format to only YYYY using the 2nd part to be consistent with the season notation in the other tables
- Name index to be used as primary key
- Select the columns that have unique value in the database and reorder them *

### Players (Players.csv)
- Create a name key by removing special characters and spaces, and converting to lower case. After removal of duplicate lines this is a unique value and it was set up as the index in order to be the primary key of the table
- Drop duplicate lines
- Drop rows with all null values
- Select the columns that have unique value in the database and reorder them *. Rename as needed.

### Player Data (player_data.csv)
- Create a name key by removing special characters and spaces, and converting to lower case. This is to be used as a foreign key for joinin with other tables
- Name index to be used as primary key
- Convert birthday field to a ISO standard date type
- Select the columns that have unique value in the database and reorder them *

### Season Statistics (Seasons_Stats.csv)
- Drop columns with all null values and rows with any null values
- Create a name key by removing special characters and spaces, and converting to lower case. This is to be used as a foreign key for joinin with other tables
- Name index to be used as primary key
- Renamed all column names to replace characters not compatible with MySQL
- Select the columns that have unique value in the database and reorder them *


"*" In selecting the columns for all the above tables, an effort was made to remove any redundancy, by choosing only one source for the same type of information. For example, height in cm was selected, while height in ft-in in another table was dropped.

# Load

We chose to load our datasets into MySQl because all our data were structured in a way to easily create relationships consistent with relational databases.

With well organized, transformed and cleaned datasets we were able to easily pull the dataframes into previously created tables. We first created the database called basketball_db in MySQL Worbench.
Then we created the four tables (salary,players, player_data, player_stats) that would house all four dataframes (salary_df, players_df, player_data_df, stats_df). Each table received column names that mirrored the column names on each dataframe, and were given data types consisent with the values in those DataFrame columns. 

After creating the above schema we loaded the selected DataFrames onto their respective tables. Any errors observed during this process made us go back to the transformation stage for more chagnes to our DataFrames.