In [25]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd
import requests
import os
import pymysql
pymysql.install_as_MySQLdb()
from config import mysqlpassword

In [26]:
csv_file = "Resources/player_data.csv"
player_data_df = pd.read_csv(csv_file)
player_data_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [27]:
# Create key
player_data_df['namekey'] = player_data_df['name'].str.lower()
for s in [" ", "'", "-", ".", ",", "*"]:
    player_data_df['namekey'] = player_data_df['namekey'].str.replace(s,'')
player_data_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college,namekey
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,alaaabdelnaby
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,zaidabdulaziz
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",kareemabduljabbar
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,mahmoudabdulrauf
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,tariqabdulwahad

In [30]:
player_data_df = player_data_df[['namekey', 'name', 'year_start', 'year_end', 'position','birth_date']]
player_data_df.index.name = 'id'
player_data_df.head()

,namekey,name,year_start,year_end,position,birth_date
id,,,,,,
0,alaaabdelnaby,Alaa Abdelnaby,1991,1995,F-C,"June 24, 1968"
1,zaidabdulaziz,Zaid Abdul-Aziz,1969,1978,C-F,"April 7, 1946"
2,kareemabduljabbar,Kareem Abdul-Jabbar,1970,1989,C,"April 16, 1947"
3,mahmoudabdulrauf,Mahmoud Abdul-Rauf,1991,2001,G,"March 9, 1969"
4,tariqabdulwahad,Tariq Abdul-Wahad,1998,2003,F,"November 3, 1974"

In [29]:
#player_data_df.rename(columns = {})

In [21]:

dt = datetime.datetime.strptime('%m-%d-%y')

birth_date = 'birth_date'.format(dt.year, dt.month, dt.day % 100)

NameError: name 'datetime' is not defined

In [31]:
# Create Database Connection
rds_connection_string = f"root:{mysqlpassword}@localhost/basketball_db"
engine = create_engine(f'mysql://{rds_connection_string}')

# Confirm tables
engine.table_names()

['player_data', 'players', 'salary']

In [32]:
# Load Dataframe into database
player_data_df.to_sql(name='player_data', con=engine, if_exists='append')

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'birth_date' in 'field list'")
[SQL: INSERT INTO player_data (id, namekey, name, year_start, year_end, position, birth_date) VALUES (%(id)s, %(namekey)s, %(name)s, %(year_start)s, %(year_end)s, %(position)s, %(birth_date)s)]
[parameters: ({'id': 0, 'namekey': 'alaaabdelnaby', 'name': 'Alaa Abdelnaby', 'year_start': 1991, 'year_end': 1995, 'position': 'F-C', 'birth_date': 'June 24, 1968'}, {'id': 1, 'namekey': 'zaidabdulaziz', 'name': 'Zaid Abdul-Aziz', 'year_start': 1969, 'year_end': 1978, 'position': 'C-F', 'birth_date': 'April 7, 1946'}, {'id': 2, 'namekey': 'kareemabduljabbar', 'name': 'Kareem Abdul-Jabbar', 'year_start': 1970, 'year_end': 1989, 'position': 'C', 'birth_date': 'April 16, 1947'}, {'id': 3, 'namekey': 'mahmoudabdulrauf', 'name': 'Mahmoud Abdul-Rauf', 'year_start': 1991, 'year_end': 2001, 'position': 'G', 'birth_date': 'March 9, 1969'}, {'id': 4, 'namekey': 'tariqabdulwahad', 'name': 'Tariq Abdul-Wahad', 'year_start': 1998, 'year_end': 2003, 'position': 'F', 'birth_date': 'November 3, 1974'}, {'id': 5, 'namekey': 'shareefabdurrahim', 'name': 'Shareef Abdur-Rahim', 'year_start': 1997, 'year_end': 2008, 'position': 'F', 'birth_date': 'December 11, 1976'}, {'id': 6, 'namekey': 'tomabernethy', 'name': 'Tom Abernethy', 'year_start': 1977, 'year_end': 1981, 'position': 'F', 'birth_date': 'May 6, 1954'}, {'id': 7, 'namekey': 'forestable', 'name': 'Forest Able', 'year_start': 1957, 'year_end': 1957, 'position': 'G', 'birth_date': 'July 27, 1932'}  ... displaying 10 of 4550 total bound parameter sets ...  {'id': 4548, 'namekey': 'ivicazubac', 'name': 'Ivica Zubac', 'year_start': 2017, 'year_end': 2018, 'position': 'C', 'birth_date': 'March 18, 1997'}, {'id': 4549, 'namekey': 'mattzunic', 'name': 'Matt Zunic', 'year_start': 1949, 'year_end': 1949, 'position': 'G-F', 'birth_date': 'December 19, 1919'})]
(Background on this error at: http://sqlalche.me/e/2j85)

In [19]:
# Confirm data added succesfully
pd.read_sql_query('select * from player_data', con=engine).head()

,index,namekey,name,year_start,year_end,position,birth_date
0,0,alaaabdelnaby,Alaa Abdelnaby,1991,1995,F-C,"June 24, 1968"
1,1,zaidabdulaziz,Zaid Abdul-Aziz,1969,1978,C-F,"April 7, 1946"
2,2,kareemabduljabbar,Kareem Abdul-Jabbar,1970,1989,C,"April 16, 1947"
3,3,mahmoudabdulrauf,Mahmoud Abdul-Rauf,1991,2001,G,"March 9, 1969"
4,4,tariqabdulwahad,Tariq Abdul-Wahad,1998,2003,F,"November 3, 1974"