In [31]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd
import requests
import os

In [32]:
# URL of page to be scraped
url = 'http://www.espn.com/nba/salaries'

In [33]:
# Retrieve page with the requests module
response = requests.get(url)

In [34]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [35]:
# Examine the results, then determine element that contains sought info
# print(soup.prettify())

In [36]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

In [37]:
dropdown_list = []
for season in browser.find_by_xpath('//select[@class="tablesm"]//option'):
    if season.value == '#':
        continue
        
    dropdown_list += [season.value]
#     browser.find_by_xpath(f'//select[@class="tablesm"]//option[@value="{season.value}"]').click()
#     print(season.value)
    
# browser.find_by_xpath(f'//select[@class="tablesm"]//option[@value="{season.value}"]').click()
dropdown_list

['//www.espn.com/nba/salaries',
 '//www.espn.com/nba/salaries/_/year/2018',
 '//www.espn.com/nba/salaries/_/year/2017',
 '//www.espn.com/nba/salaries/_/year/2016',
 '//www.espn.com/nba/salaries/_/year/2015',
 '//www.espn.com/nba/salaries/_/year/2014',
 '//www.espn.com/nba/salaries/_/year/2013',
 '//www.espn.com/nba/salaries/_/year/2012',
 '//www.espn.com/nba/salaries/_/year/2011',
 '//www.espn.com/nba/salaries/_/year/2010',
 '//www.espn.com/nba/salaries/_/year/2009',
 '//www.espn.com/nba/salaries/_/year/2008',
 '//www.espn.com/nba/salaries/_/year/2007',
 '//www.espn.com/nba/salaries/_/year/2006',
 '//www.espn.com/nba/salaries/_/year/2005',
 '//www.espn.com/nba/salaries/_/year/2004',
 '//www.espn.com/nba/salaries/_/year/2003',
 '//www.espn.com/nba/salaries/_/year/2002',
 '//www.espn.com/nba/salaries/_/year/2001',
 '//www.espn.com/nba/salaries/_/year/2000']

In [38]:
df = pd.DataFrame(columns=['RK', 'Name', 'Team', 'Salary', 'Season'])

for season in dropdown_list:
    
    browser.find_by_xpath(f'//select[@class="tablesm"]//option[@value="{season}"]').first.click()

    a = True
    while a:
        tables = pd.read_html(browser.url)
        page_df = tables[0]
        page_df.columns = ['RK', 'Name', 'Team', 'Salary']
        page_df['Season'] = soup.find('div', class_="mod-header stathead").text.split(' ')[0]
        df = df.append(page_df, ignore_index = True)

        # Click the 'Next' button on each page
        try:
            browser.find_by_xpath('//div[@class="jcarousel-next"]').click()

        except :
            a = False

df

,RK,Name,Team,Salary,Season
0,RK,NAME,TEAM,SALARY,2018-2019
1,1,"Stephen Curry, PG",Golden State Warriors,"$37,457,154",2018-2019
2,2,"Russell Westbrook, PG",Oklahoma City Thunder,"$35,654,150",2018-2019
3,3,"Chris Paul, PG",Houston Rockets,"$35,654,150",2018-2019
4,4,"Blake Griffin, PF",Detroit Pistons,"$32,088,932",2018-2019
5,5,"Gordon Hayward, SF",Boston Celtics,"$31,214,295",2018-2019
6,6,"Kyle Lowry, PG",Toronto Raptors,"$31,200,000",2018-2019
7,7,"Paul George, SF",Oklahoma City Thunder,"$30,560,700",2018-2019
8,8,"Mike Conley, PG",Memphis Grizzlies,"$30,521,115",2018-2019
9,9,"James Harden, PG",Houston Rockets,"$30,421,854",2018-2019
10,10,"Kevin Durant, SF",Golden State Warriors,"$30,000,000",2018-2019
11,RK,NAME,TEAM,SALARY,2018-2019
12,11,"Paul Millsap, PF",Denver Nuggets,"$29,230,769",2018-2019
13,12,"Al Horford, C",Boston Celtics,"$28,928,709",2018-2019
14,13,"Damian Lillard, PG",Portland Trail Blazers,"$27,977,689",2018-2019
15,14,"DeMar DeRozan, SG",San Antonio Spurs,"$27,739,975",2018-2019
16,15,"Otto Porter Jr., SF",Washington Wizards,"$26,011,913",2018-2019
17,16,"Jrue Holiday, PG",New Orleans Pelicans,"$25,976,111",2018-2019
18,17,"CJ McCollum, SG",Portland Trail Blazers,"$25,759,766",2018-2019
19,18,"Joel Embiid, C",Philadelphia 76ers,"$25,467,250",2018-2019
20,19,"Andrew Wiggins, SF",Minnesota Timberwolves,"$25,467,250",2018-2019
21,20,"Bradley Beal, SG",Washington Wizards,"$25,434,263",2018-2019
22,RK,NAME,TEAM,SALARY,2018-2019
23,21,"Anthony Davis, PF",New Orleans Pelicans,"$25,434,263",2018-2019
24,22,"Hassan Whiteside, C",Miami Heat,"$25,434,262",2018-2019
25,23,"Nikola Jokic, C",Denver Nuggets,"$24,605,181",2018-2019
26,24,"Steven Adams, C",Oklahoma City Thunder,"$24,157,303",2018-2019
27,25,"Giannis Antetokounmpo, PF",Milwaukee Bucks,"$24,157,303",2018-2019
28,26,"Marc Gasol, C",Memphis Grizzlies,"$24,119,025",2018-2019
29,27,"Kevin Love, PF",Cleveland Cavaliers,"$24,119,025",2018-2019
...,...,...,...,...,...
8257,118,"Trajan Langdon, SG",Cleveland Cavaliers,"$1,394,000",2018-2019
8258,119,"Aleksandar Radojevic, C",Toronto Raptors,"$1,325,000",2018-2019
8259,120,"Keon Clark, PF",Denver Nuggets,"$1,289,000",2018-2019
8260,RK,NAME,TEAM,SALARY,2018-2019
8261,121,"Corey Maggette, SF",Orlando Magic,"$1,259,000",2018-2019
8262,122,"Michael Dickerson, G",Vancouver Grizzlies,"$1,224,000",2018-2019
8263,123,"Will Avery, G",Minnesota Timberwolves,"$1,196,000",2018-2019
8264,124,"Matt Harpring, SF",Orlando Magic,"$1,163,000",2018-2019
8265,125,"Eldridge Recasner, G",Charlotte Hornets,"$1,100,000",2018-2019
8266,126,"Metta World Peace, SF",Chicago Bulls,"$1,079,000",2018-2019
8267,127,"Rasho Nesterovic, C",Minnesota Timberwolves,"$1,050,000",2018-2019
8268,128,"Cal Bowdler, F",Atlanta Hawks,"$1,025,000",2018-2019
8269,129,"James Posey, SF",Denver Nuggets,"$974,000",2018-2019
8270,130,"Pat Garrity, PF",Orlando Magic,"$952,000",2018-2019
8271,RK,NAME,TEAM,SALARY,2018-2019
8272,131,"Quincy Lewis, SG",Utah Jazz,"$930,000",2018-2019
8273,132,"Roshown McLeod, F",Atlanta Hawks,"$914,000",2018-2019
8274,133,"Dion Glover, SG",Atlanta Hawks,"$893,000",2018-2019
8275,134,"Ricky Davis, SG",Charlotte Hornets,"$878,000",2018-2019
8276,135,"Greg Foster, C",Seattle SuperSonics,"$857,000",2018-2019
8277,136,"Jeff Foster, PF",Indiana Pacers,"$857,000",2018-2019
8278,137,"Brian Skinner, PF",Los Angeles Clippers,"$843,000",2018-2019
8279,138,"Kenny Thomas, PF",Houston Rockets,"$823,000",2018-2019
8280,139,"Devean George, SF",Los Angeles Lakers,"$790,000",2018-2019
8281,140,"Al Harrington, PF",Indiana Pacers,"$745,000",2018-2019
8282,RK,NAME,TEAM,SALARY,2018-2019
8283,141,"Tim James, F",Miami Heat,"$728,000",2018-2019
8284,142,"Jumaine Jones, SF",Philadelphia 76ers,"$684,000",2018-2019
8285,143,"Scott Padgett, PF",Utah Jazz,"$679,000",2018-2019
8286,144,"Rafer Alston, PG",Milwaukee Bucks,"$301,000",2018-2019

In [39]:
# Clean rows

# Split name from position and create new column

# Reorder columns

In [40]:
df.to_csv('Resources\salary.csv')